<!DOCTYPE html>
<html>
<head>

    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form>
        <a href="/books/View">View Books</a><br>
        <a href="/books/New">New Book</a><br>
        <a href="/books/EditBook">Edit Book</a><br>
        <a href="/books/Del">Delete Book</a>

    </form>
</body>
</html>